body, html{
  height:100%;
}
body{
  margin: 0px;
  background: black url('images/pokemon-gym.jpg') no-repeat fixed center;
  font-size: 18px;
  font-family: Helvetica;
}
body, a:link, a:visited, a:active{
  color: black;
}
.centered {
  margin: 0 auto;
}
.title, .button{
  padding:5px 12px;
  color: white;
}
.topbar{
  height:48px;
  padding: 5px;
}
.title{
}
.dancer{
  position:absolute;
}
.button {
  background: linear-gradient(white, gray);
  border-radius: 5px;
}
.button:hover {
  background-color: white;
}

.fainted{
  opacity: 0.5;
}

/*
.flip {
    height: 199px;
    width: 300px;
    margin: 0 auto;
}
.flip img {
    width: 300px;
    height: auto;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
} */